@import 'colors'

header
  $shadow-color: rgba(0, 0, 0, .28)

  align-content: center
  align-items: center

  background: $bg-color
  box-shadow: 0 4px 4px $shadow-color
  display: flex
  height: 4em
  justify-content: space-between
  position: absolutes
  left: 0
  top: 0 
  width: 100%

  img
    height: 2.5em
    justify-self: center
    margin: .2em