@import "fonts"
@import "sass/_colors"

  
$svgBlur: url("assets/svg/blur.svg");

*
  overflow-x: hidden
  box-sizing: border-box
body
  font-family: $header-font, 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $text-color
  margin: 0
  padding: 0

  &.no-scrolling
    overflow: hidden
    height: 100vh
p
  font-family: $p-font
  font-weight: normal

h1, h2, h3, h4, h5, h6
  font-family: $header-font
  font-weight: normal

#app
  .content
    display: flex
    min-height: 100vh
    flex-direction: column
    transition: filter 500ms ease

    &.is-blurred
      overflow: hidden
      filter: $svgBlur /* SVG filters for browser support. */ 
      filter: blur(3px) /* works in chrome */
      user-select: none